NODE_ENV = 
port=

DB_HOST = 
DB_USERNAME = 
DB_PASSWORD = 
DB_NAME =  
DB_PORT = 

DB_NO_SYNC = true
DB_NO_LOGS = false
BCRYPT_SALT_ROUNDS = 10



PUBLIC_KEY_PATH = ./public_key.pem
PRIVATE_KEY_PATH = ./private_key.pem

API_BASEURL=http://localhost:3100/api/v1

